<h2>Listados Populares</h2>
<ion-button expand="block" fill="outline" size="small">
  <span>
    Ciencia Ficcion 50's
  </span>
</ion-button>
<ion-button expand="block" fill="outline" size="small">
  <span>
    Mitologia
  </span>
</ion-button>
<ion-button expand="block" fill="outline" size="small">
  <span>
    Period Dramas
  </span>
</ion-button>
<ion-button expand="block" fill="outline" size="small">
  <span>
    Policiales Noruegos
  </span>
</ion-button>
<ion-button expand="block" fill="outline" size="small">
  <span>
    Fantasia Epica
  </span>
</ion-button>
